NETWORK_EXTERNAL=false
COMPOSE_BAKE=true
CONFIG_PATH=../
DATA_PATH=../data/
LOG_PATH=../logs/
#SITE_ADDRESS=gaara.lol
SITE_ADDRESS=gaara.lol
PREFIX_SITE_DOZZLE=dozzle-ol-jp
PREFIX_SITE_XUI=xui-ol-jp

### gotify ###############################################
GOTIFY_PORT=8080
GOTIFY_DEFAULTUSER_NAME=admin
GOTIFY_DEFAULTUSER_PASS=y6KW7wiPE4nWvl
# Gotify 应用令牌（需要在 Gotify UI 中创建应用后获取）
GOTIFY_APP_TOKEN=AS_sgKeMkMvevEM
# 默认消息优先级 (1-10)
GOTIFY_DEFAULT_PRIORITY=5

BESZEL_PORT=8090
BESZEL_USER_EMAIL=ailuoga166@gmail.com
BESZEL_USER_PASSWORD=ailuoga166@gmail.com
BESZEL_AGENT_PORT=45876
BESZEL_AGENT_HUB_URL=http://beszel:8090
BESZEL_AGENT_KEY='ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN7U3WmswR2GGyV/Q8MA2MPD/toJ9/9F2phZ/CgRgERE'
BESZEL_AGENT_TOKEN=f8584037-db71-49ec-b14c-8ccd4e25b8ce
BESZEL_AGENT_DOCKER_HOST=tcp://socket-proxy:2375
