TZ=Asia/Shanghai
NETWORK_EXTERNAL=false

# 域名与证书
SITE_ADDRESS=gaara.lol
PREFIX_SITE_DOZZLE=dozzle-sg
PREFIX_SITE_XUI_WEB=xui-sg
PREFIX_SITE_XUI_SUB=xui-sub-sg
PREFIX_SITE_FRPS=frps-sg
PREFIX_SITE_RUSTDESK=rustdesk-sg
CF_API_TOKEN=

# 本地持久化路径
DATA_PATH=../data/
LOG_PATH=../logs/
CONFIG_PATH=../

# FRP 服务
FRP_AUTH_TOKEN=0BCJhCqLSSUX7pysXHBsTsgYIdRuGt+FzPSCt8cmqUg=
FRPS_WEB_SERVER_USER=admin
FRPS_WEB_SERVER_PASSWORD=change-me

# Beszel Agent 连接凭据
BESZEL_AGENT_HUB_URL=
BESZEL_AGENT_KEY=
BESZEL_AGENT_TOKEN=
