COMPOSE_BAKE=true
NETWORK_EXTERNAL=false

CONFIG_PATH=./
DATA_PATH=./data/
#SITE_ADDRESS=gaara.lol
SITE_ADDRESS=gaara.lol
PREFIX_SITE_DOZZLE=dozzle-ol-jp
PREFIX_SITE_XUI=xui-ol-jp

BESZEL_AGENT_PORT=45876
BESZEL_AGENT_HUB_URL=http://beszel:8090
BESZEL_AGENT_KEY='ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN7U3WmswR2GGyV/Q8MA2MPD/toJ9/9F2phZ/CgRgERE'
BESZEL_AGENT_TOKEN=f8584037-db71-49ec-b14c-8ccd4e25b8ce
BESZEL_AGENT_DOCKER_HOST=tcp://docker-socket-proxy:2375
