{
	import snippets/global-log.conf
}

import templates/*.conf
# import sites/*

import proxy-app-basic-auth {$PREFIX_SITE_DOZZLE}.{$SITE_ADDRESS} dozzle:8080
import proxy-app {$PREFIX_SITE_XUI_WEB}.{$SITE_ADDRESS} 3xui:2053
import proxy-app {$PREFIX_SITE_XUI_SUB}.{$SITE_ADDRESS} 3xui:2096

:8888 {
	handle /health {
		respond "OK" 200
	}
	handle {
		abort
	}
}
